{ns main
 import #{aidbox awf.executor aidbox.bulk}

 import-workers
 {:zen/tags #{aidbox/service}
  :engine  awf.executor/task-executor-service-engine
  :taskDefinitions [aidbox.bulk/import-resource-task]
  :workers 8
  :shutdown-timeout 1000}


 box
 {:zen/tags #{aidbox/system}
  :zen/desc "Perf box"
  :services {:import-workers import-workers}}}
